<div>
    <textarea matInput [(ngModel)]="mazeInput"></textarea>
</div>
<div>
        <div *ngIf="!mazeToExplore || !mazeToExplore.isValid()">
            <button mat-raised-button color="primary" (click) = 'validateMaze()'>Validate</button>
        </div>
    <div *ngIf="mazeToExplore && mazeToExplore.isValid()">
        <button mat-raised-button color="primary" (click) = 'exploreMaze()'>Explore</button>
        <button mat-raised-button color="primary" (click) = 'reset()'>Reset</button>
    </div>
</div>

<div *ngIf="!isExploring">
    <div *ngIf="mazeToExplore && mazeToExplore.isValid()">
    <div>
        <label>Your maze input is valid</label>
    </div>
    <!-- <div>
        <label class='maze-data-allignment'>The total Count of Walls is:{{mazeToExplore.getWallsCount()}}</label>
        <label class='maze-data-allignment'>The total Count of Empty Space is:{{mazeToExplore.getEmptySpaceCount()}}</label>
    </div> -->
    <div class="maze-detail-boundary">
        <mat-list>
            <mat-list-item>The total Count of Walls is: {{mazeToExplore.getWallsCount()}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>The total Count of Empty Space is: {{mazeToExplore.getEmptySpaceCount()}}</mat-list-item>
        </mat-list>
    </div>
    </div>

    <div *ngIf="mazeToExplore && !mazeToExplore.isValid()">
        <label>Your maze input is InValid</label>
    </div>
</div>
<div *ngIf="isExploring">
        <div class="maze-detail-boundary">
                <mat-list>
                    <mat-list-item>You have {{mazeExplorer.getInFrontItem()}} in front of you</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Your possible movement options are: {{mazeExplorer.getAllMovementOptions()}}</mat-list-item>
                </mat-list>
        </div>
        <div class="maze-detail-boundary">
            <div>
                    <span>
                            <button mat-fab color="accent" matTooltip="Turn Left" (click) = 'turnLeft()'>
                                    <mat-icon >rotate_left</mat-icon>
                            </button>
                            <button mat-fab color="accent" matTooltip="Turn Right" (click) = 'turnRight()'>
                                    <mat-icon >rotate_right</mat-icon>
                            </button>
                    </span>
            </div>
            <div>
                    <button mat-fab color="accent" matTooltip="Move Forward" (click) = 'moveForward()'>
                            <mat-icon >directions_run</mat-icon>
                    </button>
            </div>
        </div>
        <div>
                <label>Record of where you have been</label>
                <ul>
                        <li *ngFor="let record of mazeExplorer.getTraversedRecords()" >{{record}}</li>
                </ul>
            </div>
        <div>
            <label>Your route taken so far</label>
            <ul>
                    <li *ngFor="let route of mazeExplorer.getRouteDetails()" >{{route}}</li>
            </ul>
        </div>
</div>